.dashboard{
  &__body {
    width: 95%;
    margin: 36px auto 0 auto;
  }

  &__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 0;
  }
}