<div class="dashboard">
  <div class="dashboard__body">
    <h1 class="dashboard__subtitle">Launches</h1>
    <mat-tab-group>
      <mat-tab label="All">
        <app-launch-list 
          [launches]="launches" 
          (openDetails)="handleOpenDetails($event)" 
          (toggleFavourite)="handleToggleFavourite($event)"
        ></app-launch-list>
      </mat-tab>
      <mat-tab label="Favorites">
        <app-launch-list
          [launches]="favouritesLaunches" 
          (openDetails)="handleOpenDetails($event)" 
          (toggleFavourite)="handleToggleFavourite($event)"
          ></app-launch-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>