<div class="dashboard">
  <div class="dashboard__header">
    <h1 class="dashboard__title">SpaceX</h1>
  </div>
  
  <div class="dashboard__header-group">
    <h1 class="dashboard__subtitle">Launches</h1>
  </div>

  <mat-tab-group>
    <mat-tab label="All">
      <div class="launches__counter">Total ({{launches.length}})</div>
      <div class="launches__container">
        <mat-card 
          class="launches__card" 
          *ngFor="let launch of launches"
          (click)="navigateTo(launch.flight_number)"
          >
          <mat-card-title>{{launch.rocket?.rocket_name}}</mat-card-title>
          <mat-card-subtitle>{{launch.details}}</mat-card-subtitle>
          <mat-card-content>
            <p>{{launch.launch_date_unix | date}}</p>
            <mat-icon (click)="addFavourite(launch.flight_number)">{{launch.isFavourite ? 'favorite': 'add'}}</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Favorites"></mat-tab>
  </mat-tab-group>
</div>
