.launch {
  min-width: 393px;
  max-width: 393px;
  height: 471px;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-right: 25px;
  }

  &__subtitle {
    height: 40px;
    overflow: auto;
  }

  &__actions {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}